/* START CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Serif', serif;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:100vh ;
}

/* HEADER'S ELEMENTS */

div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 0 auto;
  max-width: 100vw;
  background-color: rgba(0,0,0,0.11);
}
.user {
  /* background-position: center; */
  background-size: cover;
  border-radius: 60% 60%;
  min-width: 3.5vw;
  min-height: 6vh;
  margin-left: 1vw;
}
.contenedorUser {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
}
.menuNav {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  display: inline block; 
}
nav p {
  text-align: center;
  height: 0 auto;
  font-size: 1rem;
  padding: 1vw; 
  color: rgba(8, 8, 8, 0.384);
  margin:0 !important;
}

/* HOME'S ELEMENTS */

.imgSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat:no-repeat ;
  box-shadow: rgba(37, 38, 46, 0.47) 0px 0px 4px 0px;
  min-width: 100%;
  height: 80vh;
	background-position: top;
	background-size: cover;
	position: relative;
}
.imgSection:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.25);
}
.logo { 
  display: flex;
  align-self: flex-start;
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 50vw;
  height: 30vh;
	position: relative;
  border-radius: 4px;
  padding: 8.5vw;
  margin-left: 5vw;
  margin-top: 5vh;
  }
.callHome{
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-self: flex-end;
  padding-bottom: 5vh;
  padding-right: 5vw;
}
.linkFlecha {
  font-weight: 900;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 2px 0px;
  padding:1vw;
  color:#ffffff;
  background-color: #42df8375;
}
.linkFlecha svg {
  margin-left: 1vw;
}

.linkItineraries {
  display: flex;
  justify-content: left;
  align-items: center;
  color:#ffffff;
  /* margin-left: 1vw; */
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, ;
  margin: 1vw;
  padding: 0.2vw; 
  background-color: #141414d0;
  border: solid 1px #337CA0;
}
.linkItineraries img{
  width: 2vw;
}

.txtPopular{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.11); 
  font-size: 1.3rem;
  color: #141414;
  padding: 1.3vw; 
  
}

/* CARROUSEL */

.contenedor{
  height: 30%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.8vw;

}
.cajaCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(37, 38, 46, 0.47) 0px 0px 4px 0px;
  border-radius: 4px;
  width: 38vw;
  height: 40vh
}
.cajaCarousel p {
  font-size: 1.3rem;
  background-color: rgba(12, 12, 12, 0.8);
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 10%;
  border-radius: 4px;
  margin-bottom: 0 !important;

}
span.carousel-control-next-icon, span.carousel-control-prev-icon {
  filter: invert(100%) !important;
  padding: 1vw;
}

/* CITIES AND ITINERARIES ELEMENT'S */


div.contenedorCities {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  background-color:rgba(0, 0, 0, 0.027);
}
.cities{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
div.citiesImage{
  display: flex;
  justify-content: center;
  width:60vw;
  background-position: bottom;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 2vw;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 2px 0px;
}
p.citiesTitle, p.cityTitle{
  font-weight:400px;
  font-size: 1.3rem;
  background-color: rgba(12, 12, 12, 0.61);
  color: #ffffff;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0 !important;
}
.contenedorCity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.021);
}
 .titleAvailable  {
  display: flex;
  justify-content: center;
  /* background-color: #3CB46E; */
  border-radius: 4px;
  margin-top: 2vh;
  width: 100%;
  padding: 3px;
  color:rgba(12, 12, 12, 0.849);
  /* box-shadow:rgba(0, 0, 0, 0.14) 0px 2px 2px 0px; */
}
.cityImage {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 50vh;
  width:95vw;
  margin-top:2vh;
  /* font-size: 1rem; */
}

div.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 2vw auto;
  opacity: 0.9;
  filter: alpha(opacity=80);
  width: 100vw;
  padding: 0 !important;
}
div.alertTitle p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-weight: 600px;
    color: #ffffff;
    width: 40vw;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 !important;
    margin: 0!important;
}
.filter {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.027);
}


.filter input {
  width: 45%;
  padding: 0.3vw ;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  border-style:double;
  border: solid 3px #ee9105;
  border-radius: 10px;
  margin-top:3vh;
  background-color: #14141448; 
}
div.section {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100vw;
  padding: 0 !important;
  background-color: #3a3939;
}

/* FOOTER´S ELEMENTS */

footer p {
  font-weight:600px;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  color: rgba(250, 248, 248, 0.37);
  margin-bottom: 0 !important; 
}

footer {
  border-color: solid 1px #337CA0; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh; 
  background-color: rgba(0, 0, 0, 0.12); 
  margin: 0 !important;
  padding: 0 !important;
  
}

.containerImg {
  width: 25%;
  height: 4%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/* 
rgba(0, 0, 0, 0.14) 0px 2px 2px 0px; 
rgba(0, 0, 0, 0.2) 0px 3px 1px -2px; 
rgba(0, 0, 0, 0.12) 0px 1px 5px 0px
*/

.containerItinerary {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  color:#ffffff;
  font-weight: 600px;
  line-height: 23px;
  background-color: #1414149a;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  flex-wrap: wrap;
  border-radius: 4px;
  margin: 1.5vh;
}

.userImg {
  border-radius: 5vw 5vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2vh;
  width: 12vw;
  height: 12vh;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 3px 1px -2px; 
}

.containerTextItin {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 75%;
 }

.itinTitle {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin: 4vh;
  border: solid 1px #337CA0;
  background-color:#f5f5f5e8;
  color:#333333;
  width:70%;
  border-radius: 4px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}
.itinLikes div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: inline;
  margin: 5vw;
}
.itinhashtag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:90%;
  margin-bottom: 2vh;
  /* margin-top:2vw; */
  padding: 1vw;
  font-size: 1rem;;
}
.activities {
  display: flex;
  flex-direction: column;
  justify-content: row;
  align-items: center;
  width: 100%;
  min-height: 35vh;
}
.titleActivity {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #f5f5f5;
  color:#333333;
  font-weight: 500px;
  border-radius: 4px;
  box-shadow:rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
  width: 100%;
  font-size:1rem;
  border: solid 1px #337CA0;
}
.actiImg{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2vw;
  /* width: 100%; */
  width: 20vw;
  height: 33vh;
  border-radius: 4px;
  box-shadow:rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}
.actiImg p {
  line-height:20px;
  font-size: 1rem;
  background-color: #1414149c;
  color: #f5f5f5;
  text-align: center;
  border-radius: 2%;
  margin-bottom: 0 !important;
  width: 100%;

}
.containerActi{
  display: flex;
  flex-wrap: wrap ;
  width: 75vw;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  font-size: 1.1rem;  
}
.comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3vh;
  border: solid 1px #337CA0;
  background-color: #ecf0f091;
  border-radius: 4px;
  text-align: center;
  line-height: 21px;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(12,12,12);
  text-align: center;
  line-height: 21px;
}
input:focus {
  outline: none;
  border:none;
}
.contain input{
  border:none;
  background-color: #ecf0f0e0;
  margin:1vh;
  width:40%;
  text-align: center;
  padding: 0.4vw;
  border-radius: 6px;
  font-size: 1rem;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.contain  {
display: flex;
justify-content: center;
align-items: center;
}
.userName{
  color:rgb(12,12,12);
}
.userPic{
  width: 7vw;
  height: 7vh;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0 !important;
}

button:focus {
  outline: none;
}

.formContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  flex-direction: column;
  color:#121212;
  font-size: 1.2rem;

}
.form{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ff99009c;
  padding: 3vw;
  border-radius: 8px;
}
.buttonBack {
  background-color: #00d351cb;
  border: none;
  border: solid 1px #337CA0;
  width: 10vw;
  font-size: 1rem;
  height: 3.8vh;
  line-height: 18px;
  color:#ffffff;
  border-radius: 4px;
	padding: 0.3vw;
	cursor: pointer;
  outline: none;
  box-shadow:rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
  margin-bottom: 1vh;
  margin-right: 1vw;
  
}

/* MEDIA QUERY 320-480px */

@media only screen and (min-width:320px) and (max-width:480px) {
  div.header {
    height: 6vh;
  }
  .user {
    min-width: 10vw;
    max-height: 5vh;
    border-radius: 20% 20%;
  }
  .contenedorUser {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
  }
  nav p {
    font-size: 1rem;
    margin: 1vw;
    margin-right: 3vw;
  }
  .imgSection{
    max-width: 100vw;
    max-height: 40vh
  }
  .logo { 
    margin-top: 5vh;
    border-radius: 9% 15%;
    background-position: center;
    background-size: cover;
    min-width: 80vw;
    max-height: 20vh
  }
  .contenedorBoton{
    padding: 0.8vw; 
  }
  .flecha img {
    width: 6vw;
  }
  .linkFlecha {
    font-size: 1rem;
    padding: 0.2vw;
    margin-top: 3vw;
  }
  .tituloPopular {
    width: 100vw; 
    height: 20vh
  
  }
  
/* CARROUSEL */
  .cajaCarousel {
    border-radius: 3%;
    width: 45vw;
    height: 15vh
  }
  .cajaCarousel p {
    font-size: 1rem;
    width: 100%;
    height: 20%;
  }
  span.carousel-control-next-icon, span.carousel-control-prev-icon {
    filter: invert(100%) !important;
  }
  /*CITIES*/
  div.citiesImage{
    width:90vw;
    height: 30vh;
    border-radius: 2%;
    margin: 2vw;
  }
  /*CITY*/
  .cityImage {
    height: 30vh;
    width:95vw;
  }
  .titleAvailable {
    border-radius: 10px;
    margin-top: 2vh;
    width: 100%;
    padding: 3px;
    font-size: 1rem;
  }
  .linkItineraries {
    font-size: 1rem;
    margin: 1vw;
    padding: 0.4vw; 
  }
  .linkItineraries img{
    width: 4vw;
  }

  /*ITINERARY*/
  .containerItinerary {
    width: 95vw;
    font-size: 1rem;
    margin:2vw;
    border-radius: 4px;
  }
  .itinTitle {
    font-size: 1rem;
    margin-top: 3vw;
    width:100%;
  }
  .containerImg {
    width: 23%;
    font-size: 1rem;
  }
  .userImg {
    border-radius: 12vw 12vh;
    min-width: 20vw;
    min-height: 12vh;
    margin: 1vh;
    margin-bottom:1vw
  }
  .containerTextItin {
    width: 75%;
  }
  .itinLikes div {
    min-width: 100%;
    font-size: 1rem;
    margin: 3vw;
  }
  .itinhashtag {
    width:100%;
    margin-bottom: 2vh;
    margin-top: 3vw;
    font-size: 1rem;
  }
  .activities {
    min-width: 100%;
    min-height: 35vh;
  }
  .containerActi{
    min-width: 100vw;
  }
  .actiImg{
    margin: 1vw;
    min-width: 30vw;
    max-height: 20vh
  }
  .actiImg p {
    height:20%;
    font-size: 1rem;
    width: 100%;
  }
  .comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    width:100%;

  }
  .comment{
    background-color: #ecf0f0;
    margin:1vh;
    width:90%;
    text-align: left;
    padding: 1vh;
    border-radius: 12px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content{
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: center; 
      border-radius: 4px; 
  }
  .userPic{
    border-radius: 50%;
    min-width: 10vw;
    min-height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .form {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
  }

    

}



/* END CSS */